services:
  web:
    build: .
    ports:
      - "8081:80"
    depends_on:
      - db
    volumes:
      - .:/var/www/html
    environment:
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data
    networks:
      - appnet
    restart: unless-stopped

  db:
    image: mariadb:latest  # или mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: qwe
      MYSQL_DATABASE: first_db
      MYSQL_USER: web_user
      MYSQL_PASSWORD: web_pass
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - appnet
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  db_data:

networks:
  appnet:
    driver: bridge